langchain
langchain-community
fastapi
jinja2
uvicorn
qdrant-client
sentence-transformers
torch
textblob
beautifulsoup4
unstructured
requests
"unstructured[pdf]"
python-magic-bin
libmagic
llama-cpp-python
langchain-qdrant 
langchain-huggingface 
langchain-llm
